openai==1.42.0
langchain-core==0.2.33
pydantic==2.8.2
python-dotenv==1.0.1
azure-identity==1.17.1
streamlit==1.37.1
langchain-community==0.2.12
langchain-openai==0.1.22
opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-langchain==0.27.0
opentelemetry-semantic-conventions-ai==0.4.1
opentelemetry-distro[otlp]==0.47b0
opentelemetry-exporter-otlp
langchain==0.2.14
langgraph==0.2.5
sqlalchemy==2.0.32
pyodbc==5.1.0
ipython==8.26.0